<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/home/login2.css">
    <script src="/js/home/register.js" defer></script>
    <title>Document</title>
</head>
<body>
    <div class="login-box">
        <h2>Login</h2>
        <form>
          <div class="user-box">
            <input id="id"type="text" name="" required=""/>
            <label>ID</label>
          </div>
          <div class="user-box">
            <input id="name"type="text" name="" required=""/>
            <label>Username</label>
          </div>
          <div class="user-box">
            <input id="psword"type="password" name="" required=""/>
            <label>Password</label>
          </div>
          <div class="user-box">
            <input id="confirm-psword"type="password" name="" required=""/>
            <label>Confirm Password</label>
          </div>
          <p id="button"style='cursor:pointer;'>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            SIGN UP
          </p>
          <p class="message">
            Already registered? 
            <a href="/login">
              login
            </a>
          </p>
        </form>
      </div>
  </body>
</htm>
<!-- Copyright (c) 2022 by Soufiane Khalfaoui HaSsani (https://codepen.io/soufiane-khalfaoui-hassani/pen/LYpPWda) -->